.layout {
  min-height: 100vh;
  background: #f7f8fc;
}

.mainArea {
  min-height: 100vh;

  margin-left: 200px;

  width: calc(100% - 200px);
}

.content {
  min-height: 100vh;

  padding: 24px;
}

.mobileHeader {
  display: none;
}

/* =========================================
   MOBILE
========================================= */

@media (max-width: 768px) {
  .mainArea {
    margin-left: 0;
    width: 100%;
  }

  .mobileHeader {
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 18px;

    background: #ffffff;

    border-bottom: 1px solid #e5e7eb;
  }

  .content {
    padding: 16px;
  }

  .mobileLogo {
    display: flex;
    align-items: center;
    gap: 7px;

    color: #111827;

    font-size: 20px;
    font-weight: 700;
  }

  .mobileLogoIcon {
    color: #7c3aed;

    font-size: 30px;
    line-height: 1;
  }
}